<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>DEV Formato</h1>

    </header>
    <main>
        <section>
            <h2>Introdução</h2>
            <p id="ola"></p>
        </section>
        <section>
            <h2>Desenvolvimento</h2>

        </section>
        <section>
            <h2>Conclusão</h2>
        </section>

    </main>
    <footer>

    </footer>
    <script rel="javascripts" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>