<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>DEV Formato</h1>
        <h2>PYTHON</h2>

    </header>
    <main>
        <div>
            <ul>
                <li><a href="/">Homepage</a></li>
            </ul>
        </div>
        <div>
            <section>
                <h3>Introdução ao Python</h3>

            </section>
            <section>
                <h3>Desenvolvimento</h3>
    
            </section>
            <section>
                <h3>Conclusão</h3>
            </section>
        </div>
        

    </main>
    <footer>
        <h4 id="title4"></h4>

    </footer>
    <script rel="javascripts" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>