<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>DEV Formato</h1>
        <h2>PYTHON</h2>

    </header>
    <main>
        <div>
            <ul>
                <li><a href="/">Homepage</a></li>
            </ul>
        </div>
        <div>
            <section>
                <h3>Introdução ao Python</h3>
                <h4>O que é Python?</h4>
                <p>              
                    Python é uma linguagem de programação de alto nível, interpretada e muito versátil, conhecida por sua sintaxe simples e legibilidade. Criada por Guido van Rossum e lançado pela primeira vez em 1991. Ele desenvolveu a linguagem com objetivo de ser simples, intuitiva e poderosa, atendendo tanto a iniciantes quanto programadores experientes. Desde então, Python tem um crescido exponencialmente em popularidade e se tornou uma das linguagens mais utilizadas globalmente. 
                    Python se destaca por ser uma linguagem de alto nível, o que significa que sua sintaxe é próxima da linguagem humana, facilitando a leitura e escrita de código. Além disso, é uma linguagem interpretada, onde o código é executado diretamente, sem a necessidade de compilação, tornando o desenvolvimento mais rápido e ágil. Por fim, Python é de código aberto, ou seja, seu código-fonte está disponível gratuitamente para todos, promovendo a colaboração e o desenvolvimento contínuo   por uma comunidade global ativa. 
                    Essas características combinadas fazem de Python uma linguagem acessível, versátil e amplamente adotada. 
                </p>
                    
                <h4>Importância do Python:</h4>
                <ul>                   
                    <li><b>Facilidade de uso:</b> Sua sintaxe é intuitiva e próxima da linguagem natural, tornando o processo de codificação mais simples.<br></li>                     
                    <li><b>Ampla Aplicação:</b> Python é usada em diversas áreas como desenvolvimento web, ciência de dados, inteligência artificial, aprendizado de máquina, automação, análise de dados e mais.<br></li>                     
                    <li><b>Comunidade ativa:</b> Possui uma comunidade global muito ativa que constantemente cria bibliotecas, frameworks e suporte para novos desafios.<br></li>                     
                    <li><b>Bibliotecas Poderosas:</b> Com ferramentas com Pandas, NumPy, TensorFlow e Flask, Python oferece soluções rápidas e eficientes para várias tarefas complexas.<br></li>                    
                      
                </ul>
                <p>De fato, sua importância se reflete na demanda crescente por profissionais que dominem Python, especialmente em áreas como tecnologia, ciência de dados e desenvolvimento de aplicativos.<br></p>

            </section>
            <section>
                <h3>Desenvolvimento</h3>
                <h4>Histórico e Evolução</h4> 
                <p>
                    Python surgiu no final dos anos 80, quando Guido van Rossum, um programador holandês, trabalhava no Centro de Matemática e Informática (CWI) na Holanda. Ele queria desenvolver uma linguagem de programação fácil de aprender e usar, inspirada na linguagem ABC, mas com suporte para extensibilidade e maior versatilidade. Em 1991, Guido lançou a primeira versão oficial do Python, já trazendo características como tipagem dinâmicas e a abordagem orientada a objetos. 
                </p>
                <h4>Evolução do Python ao longo do tempo:</h4>
                <ul>
                    <li><b>Python 1.x (1991-2000)</b> - A primeira geração estabeleceu os fundamentos da linguagem, incluindo módulos, exceções e uma biblioteca padrão rica.</li>
                    <li><b>Python 2.x (2000 – 2010)</b> - Trouxe melhorias como suporte a Unicode e maior compatibilidade entre versões, mas gerou um dilema por não ser totalmente retrocompatível com Python 3.</li>
                    <li><b>Python 3.x (2008 – presente)</b>- Aversão atual, que eliminou elementos obsoletos do Python 2, melhorou a sintaxe e a eficiência, tornando-se o padrão para desenvolvedores.</li>
                </ul>
                <p>
                    Ao longo dos anos, Python evoluiu para atender a demandas modernas, sendo amplamente utilizado em inteligência artificial, ciência de dados, automação e desenvolvimento web.
                </p>
 
    
            </section>
            <section>
                <h3>Conclusão</h3>
            </section>
        </div>
        

    </main>
    <footer>
        <h4 id="title4"></h4>

    </footer>
    <script rel="javascripts" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>